{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1>{{ page_title }}</h1>

    {% if items %}

        {% for item in items %}
            <div class="row" id="loan_request_{ item.id }}">
                <div class="col-md-2 col-lg-2">{{ item.name }}</div>
                <div class="col-md-2 col-lg-2">{{ item.address }}</div>
                <div class="col-md-2 col-lg-2">{{ item.postcode }}</div>
                <div class="col-md-2 col-lg-2">{{ item.registration_number }}</div>
                <div class="col-md-2 col-lg-2">{{ item.sector }}</div>
                <div class="col-md-2 col-lg-2">
                    <ul>
                    {% for user in item.users.all %}
                        <li>{{ user }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You did not register any company yet</p>
        <p><a href="{% url 'company_new' %}">Register a new company</a></p>
    {% endif %}

{% endblock %}